* {
	box-sizing: border-box;
}

body {
	font-family: 'Cantarell', sans-serif;
	background: url(img/stardust.png) repeat;
	height: 100%;
	padding: 100px 200px;
	color: #d3d3d3;
}

.content {
	width: 400px;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: 100px auto auto;
}

h1 {
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	margin-bottom: 12px;
}
.profil {
	padding: 10px 0;
	overflow: hidden;
	width: 380px;
	margin: 0 auto;
	border-top: 3px solid #d3d3d3;
	border-bottom: 3px solid #d3d3d3;
	border-radius: 3px;
}

img {
	width: 80px;
	height: 80px;
	float: left;
	background-color: #d3d3d3;
}

h2 {
	float: right;
	margin: 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	padding-top: 4px;
}

h2 .small {
	font-size: 16px;
	text-transform: none;
}

h2 .bg {
	background-color: #d3d3d3;
	color: rgba(0, 0, 0, .5);
	padding: 2px;
}

p {
	padding: 10px 0;
	text-align:center;
}

h3 {
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.social { margin-top: 100px; }

ul {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	display: inline;
	margin-right: 30px;
}
ul li:last-child { margin-right: 0; }

ul a {
	color: #d3d3d3;
	font-size: 20px;
}

ul a:hover {
	color: #fff;
}